html, body {
  background: aliceblue;
  height: 100vh;
  font-family: Roboto, sans-serif;
  margin: 0;
  max-width: 100vw;
  width: 100vw;
}

h4 {
  margin: 10px 5px 10px 0;
}

nav {
  align-items: center;
  background: #1DA1F2;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  color: white;
  display: flex;
  font-family: Cabin Sketch;
  justify-content: space-between;
  padding: 15px;
}

.banner-container {
  height: 49px;
  margin-left: -10px;
}

.banner {
  color: rgba(0, 0, 0, 0.6);
  padding: 15px 0;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  width: 100vw;
}

.banner--error {
  background:#e00;
}

.banner--success {
  background:#4c3;
}

.btn {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2) inset;
  color: white;
  padding: 10px;
}

.btn:hover {
  cursor: pointer;
}

.btn--input {
  background: rgba(0, 0, 0, 0.1);
  color: #777;
}

.btn--logout {
  background: white;
  color: #1DA1F2;
}

.btn--logout:hover {
  background: #f9f9f9;
}

.btn--submit {
  background: #4386fa;
}

.btn--submit:hover {
  background: #5396ff;
}

.btn--replace {
  background: #f44;
}

.btn--replace:hover {
  background: #f00;
}

.card {
  background: rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 10px;
}

.container {
  max-width: 100vw;
  padding: 0 10px;
}

.form {
  margin: 2px auto 40px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.form__label {
  display: block;
  margin: 10px;
}

.hidden {
  opacity: 0;
  transition: 0.5s;
}

.inline {
  display: inline-block;
}

.login--form {
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.login--input {
  height: 25px;
  font-size: 1em;
}

.qid-label {
  display: inline-block;
}

.replace-card-form {
  position: relative;
  width: fit-content;
}

.shroud {
  align-items: center;
  background: rgba(255,255,255,0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.spinner {
  animation: spin 2s linear infinite;
  border: 3px solid rgba(0,0,0,0.4);
  border-bottom: 3px solid rgba(0,0,0,0.7);
  border-radius: 50%;
  height: 22px;
  width: 22px;
}

@keyframes spin {
  from { transform: rotate(0deg);   }
  to   { transform: rotate(359deg); }
}